.paygift {
    .storeBox {
        display:inline-block;
        padding: 9px 12px;
        margin-top: 2px;
        background: #F15A24;
        color: #fff;
        border-radius: 4px;
        letter-spacing: 2px;
        cursor: pointer;
      }
      .gt-form-bottom-submit {
        .gt-button:first-of-type {
          background: #fff!important;
          border: 1px solid #F4774A;
          color: #F4774A!important;
        }
        .gt-button.large {
          padding: 0 5%!important;
        }
      }
      
    // 右侧基本信息
    .rights{
      .labelWidth2 {
        .el-form-item__content {
          .el-input--medium {
            margin: 0 10px;
            width: 140px;
            .el-input__inner {
              width: 140px;
            }
          }
        }
      }
    } 
  }