
.serverTime {
    .el-col.serverOne {
      width: 200px;
    }
  }
  .sku-edit{
    padding: 10px 15px;
    background-color: $content--background-color;
    border-radius: 10px;
    .select-sku{
      margin: 10px 0;
    }
  }
  .spec-table{
    .el-input,.el-select{
      margin: -8px 0;
      padding: 0 10px 0 0 !important;
      width: 100%;
      .el-input__inner {
        padding: 10px !important;
        width: 100% !important;
      }
      .el-input__suffix{
        right: 10px;
      }
    }
  }
  .goods-add-container{
    overflow: hidden;
    margin-bottom: 10px;
    .inline-input{
      margin-right: 20px;
      margin-bottom: 20px;
      float:left;
    }
  }
  .gt-input-tip{
    .unit{
      // font-size: 16px;
      color: $info--main-font-color;
      margin-right: 10px;
    }
  }
  .box-card {
      width: 150px;
      height: 158px;
      overflow: scroll;
      margin-right: 15px;
      float: left;
      .text {
        font-size: 14px;
        text-align: center;
        cursor: pointer;
      }
      .isactive {
        background: #fff;
        color: $--color-primary
      }
      .el-card__body {
        padding: 0!important;
      }
    }
    .selectSale {
      padding: 5px 10px;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }
