.output-page-bill {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}
.output-page-bill .title {
  height: 30px;
  font-size: 26px;
  font-weight: 700;
  margin: 20px;
  text-align: center;
}
.output-page-bill .barcode{
  margin-left: 0;
}

.output-page-bill .table-title{
  min-width: 50px;
  font-size: 14px;
}
.output-page-bill .time{
  /* padding: 0 30px; */
  text-align: right;
}
.output-page-bill .row{
  display: flex;
  flex-direction: row;
}
.output-page-bill .row .col-half{
  flex: 1;
  min-height: 20px;
  line-height: 20px;
}

.output-page-bill .float-row .col-3{
  width: 33%;
  min-width: 300px;
  max-width: 500px;
  float: left;
  min-height: 20px;
  line-height: 20px;
}
.output-page-bill .float-row .col-6{
  width: 66%;
  min-width: 300px;
  max-width: 600px;
  float: left;
  min-height: 20px;
  line-height: 20px;
}
.output-page-bill .output-table{
  border: 2px solid black;
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.output-page-bill .last-item{
  border-bottom: 0;
}
.output-page-bill .last-item.status{
  padding-left: 15px;
  text-align: left;
}

.output-page-bill th{
  height: 24px;
  line-height: 24px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.output-page-bill th:last-child{
  border-right: none;
}
.output-page-bill td{
  height: 24px;
  line-height: 24px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.output-page-bill td:last-child{
  border-right: none;
}
@page { size: auto; margin: 5mm 0mm; }
